// FONTS START
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Poppins&display=swap");
// FONTS END

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

// VARIABLES START
$themeColor: #dc1414;

@mixin Bg {
	background: linear-gradient(
		22deg,
		rgba(220, 20, 20, 1) 27%,
		rgba(255, 45, 45, 0.9976365546218487) 52%
	);
}
// VARIABLES END

// GLOBAL CLASSES START
html {
	width: 100%;
	font-size: 100%;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 99%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 98%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 97%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 96%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 95%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 94%;
	}
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-track {
	@include Bg;
	border-radius: 12px;
}
::-webkit-scrollbar-track-piece {
	background-color: #ccc;
	border-radius: 12px;
}
::-webkit-scrollbar-thumb {
	@include Bg;
	border-radius: 12px;
}
::-webkit-scrollbar-corner {
	background-color: #ccc;
	border-radius: 12px;
}
::-webkit-resizer {
	background-color: #ccc;
	border-radius: 12px;
}

.pointer {
	cursor: pointer;
}

.line {
	width: 2px;
	background: #ffff;
}

.themeColor {
	color: $themeColor;
}

.themeBg {
	background: $themeColor;
}

.page_container {
	max-width: 1075px;
	margin-left: auto;
	margin-right: auto;
}

.grayBg {
	background: #666666 !important;
}

.purpleBg {
	background: #641d77 !important;
}

.contRotate {
	transform: rotate(45deg);
}

.eachRotate {
	transform: rotate(-44deg);
}

.dot {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	@include Bg;
}

.tab {
	background: #dedede;
}

.tInp {
	height: 20px;
}

.placeholderImg {
	max-height: 150px;
}

#content-1,
#content-2 {
	height: 500px;
	overflow-y: scroll;
}

#content-1 {
	display: flex;
}

#content-2 {
	display: none;
}

@media screen and (max-width: 768px) {
	#content-1,
	#content-2 {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.rightSideA {
	height: 350px;
	overflow-y: scroll;
}

.bannerContainer {
	transition: 0.8s all;
}

.hoveredBanned {
	transition: 0.8s all;
	background: linear-gradient(
		22deg,
		rgba(220, 20, 20, 1) 27%,
		rgba(255, 45, 45, 0.9976365546218487) 52%
	);
	color: #fff;
	border-radius: 4px;
	font-size: 1rem;
	left: 10%;
	top: 0%;
	z-index: 999;
	display: none;
	opacity: 0;
	height: 0px;
	width: 0px;
	overflow: hidden;
}

.bannerContainer:hover .hoveredBanned {
	transition: 0.8s all;
	display: block;
	opacity: 1;
	width: 150px;
	height: 128px;
}

.tab {
	.active {
		position: relative;
		transition: 0.5s;

		&:before {
			content: "";
			position: absolute;
			height: 8%;
			width: 100%;
			left: 0%;
			bottom: 0%;
			right: 0%;
			background-color: $themeColor;
		}
	}
}

.themeBtn {
	@include Bg;
	transition: 0.8s;

	&:hover {
		background: linear-gradient(
			22deg,
			rgba(220, 20, 20, 0.9) 27%,
			rgba(255, 45, 45, 0.9) 52%
		);
	}
}

input {
	&:focus {
		border: none;
		outline: none;
	}
}

.newsImg {
	border: 2px solid #000;
	border-radius: 4px;
}

.newsBox {
	height: 600px;
	overflow-y: auto;
}

.webNews {
	height: 340px;
	overflow-y: auto;
}

// HEADER CONTAINER START
.modal-dialog {
	width: 90vw !important;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 90vw !important;
	}
}
// HEADER CONTAINER START

// HEADER CONTAINER START
.header_container {
	height: 65px;
	@include Bg;

	.logoContainer {
		h2 {
			letter-spacing: 1px;
		}
		img {
			height: 25px;
			width: 48px;
		}
	}

	h5 {
		font-weight: 700;
		letter-spacing: 1.1px;
		font-size: 1.5rem;
	}

	ul {
		li {
			margin: 0rem 0.8rem;
			position: relative;
			font-weight: 500;

			a {
				color: #fff;
			}

			.themeText {
				color: $themeColor;
			}

			&::before {
				content: "";
				background: #000;
				position: absolute;
				z-index: -1;
				height: 0%;
				width: 100%;
				bottom: 0%;
				left: 0%;
			}

			&:hover::before {
				height: 10%;
			}
		}
	}
	.icons {
		li:last-child {
			margin-right: 0rem;
		}
	}

	li.activeNav::before {
		content: "";
		background: #000;
		position: absolute;
		z-index: -1;
		height: 10%;
		width: 100%;
		bottom: 0%;
		left: 0%;
	}
}
@media screen and (max-width: 575px) {
	.header_container {
		padding: 1.4rem 0rem 1rem 0rem;

		.logoContainer {
			h2 {
				font-size: 1.1rem;
			}
			img {
				height: 20px;
				width: 40px;
			}
		}
	}
}
// HEADER CONTAINER END

// SIDEBAR CONTAINER START
.sideBar {
	position: fixed;
	top: 50%;
	left: 50%;
	right: 0%;
	bottom: 0%;
	transform: translate(-50%, -50%);
	z-index: 99999;
	display: none;
	opacity: 0;
	transition: 2s;
	@include Bg;

	.logoContainer {
		h2 {
			letter-spacing: 1px;
		}
		img {
			height: 25px;
			width: 48px;
		}
	}
}
// SIDEBAR CONTAINER END

// SEARCH BAR START
.searchBar {
	height: 50px;
}
// SEARCH BAR END

// HOME START
.cont {
	@include Bg;
	box-shadow: rgb(233, 233, 233) 1px 1px 35px 0px;
	padding: 0.2rem 0rem 0.1rem 0rem;
	border-radius: 8px;
}

.innerCont {
	//   max-width: 600px;
	width: 100%;
	border-radius: 8px;
	width: 100%;
	background: #fff;
}
// HOME END

// ACCOUNT START
.accountBanner {
	height: 130px;

	.imgBanner {
		object-fit: cover;
	}

	.person {
		height: 80px;
		width: 80px;
		bottom: -30%;
		left: 5%;
		border-radius: 50%;
		border: 3px solid $themeColor;
	}

	@media screen and (max-width: 768px) {
		.person {
			height: 60px;
			width: 60px;
			bottom: -30%;
			left: 5%;
			border-radius: 50%;
			border: 3px solid $themeColor;
		}
	}
}

.accBox {
	height: 70px;
	width: 70px;
}

// ACCOUNT END
